@import "../../app/mixin";

main {
  grid-area: main;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: $pageBleeding / 2;
  padding-left: calc((2 * #{$pageBleeding}) + #{$sideMenuWidth});
  padding-right: $pageBleeding;
  margin-left: auto;
  margin-right: auto;

  section {
    width: 100%;
    height: auto;
  }
}

.section-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  span {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }
}

@keyframes shadowFadeIn {
  0% {
    @include E200;
  }
  50% {
    box-shadow: none;
  }
  100% {
    @include E-200;
    background-color: darken($l-background, 1%);
  }
}
