@import "../../app/mixin";

.color-card {
  width: 100%;
  height: auto;
  @include card;
  @include E500;
  transition: all 0.3s ease-in-out;

  &:last-child {
    margin-bottom: $pageBleeding;
  }

  // &.active {
  //   animation: shadowFadeIn 0.3s ease-in-out forwards;
  // }

  &:hover {
    @include E200;

    .color-card__header {
      button.ghost-btn {
        opacity: 1;
      }
    }
  }

  & + .color-card {
    margin-top: calc(#{$pageBleeding} / 2);
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 14px;

    label {
      display: inline-block;
      flex: 1 1 auto;
      font-size: 14px;
      color: $l-subtle-text;
    }

    button.ghost-btn {
      transition: all 0.2s ease-in-out;
      opacity: 0;
    }
  }

  &__palatte {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $l-background;
    overflow: hidden;
    border-radius: 10px;

    &__box {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes shadowFadeIn {
  0% {
    @include E200;
  }
  50% {
    box-shadow: none;
  }
  100% {
    @include E-200;
    background-color: darken($l-background, 1%);
  }
}
