@import "../../app/mixin.scss";

footer {
  flex: 0 0 auto;
  width: $sideMenuWidth;
  height: #{$footerHeight};
  margin-top: 20px;

  p,
  a {
    font-size: 12px;
    color: rgba($l-text, 0.6);
  }

  a {
    text-decoration: underline;

    &:hover {
      color: rgba($l-text, 0.8);
    }
  }
}
