@import "../../app/mixin";

aside {
  position: fixed;
  left: $pageBleeding;
  display: flex;
  flex-direction: column;
  width: $sideMenuWidth;
  height: calc(100% - #{$headerHeight} - #{$footerHeight} - #{$pageBleeding});
  top: calc(#{$headerHeight} + (#{$pageBleeding} / 2));

  .side-menu {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 100%;
    height: auto;
    max-height: calc(100% - 52px);
    @include card;
    @include E500;
    padding: 0;

    &__header {
      display: flex;
      flex: 0 0 auto;
      width: 100%;
      height: auto;
      padding: 15px 20px;
      background-color: $l-background;
      border-bottom: 1px solid #dde2e8;
      border-radius: 18px 18px 0 0;

      b {
        display: block;
        flex: 1 1 auto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }

      span.icon {
        display: block;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        background-color: $l-subtle-text;
      }
    }

    &__content {
      flex: 1 1 auto;
      width: 100%;
      height: auto;
      padding: 15px 25px 30px 25px;
      overflow: auto;

      &__settings {
        label {
          display: block;
          width: 100%;
          height: auto;
          font-size: 14px;
          color: $l-subtle-text;
          margin-bottom: 6px;
        }
    
        .dials {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 10px;

          &__line {
            flex: 0 0 auto;
            width: 1px;
            height: 6px;
            background-color: rgba($l-text, 0.1);
          }
        }

        & + .side-menu__content__settings {
          margin-top: 14px;
        }
      }
    }
  }
}
