@import "../../../app/mixin";

.tab__content__body {
	position: relative;
	width: 100%;
	height: 100%;

	.ghost-btn {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__scroll {
		width: 100%;
		height: 100%;
		padding: 20px;
		overflow: auto;
	}
}