@import "../../app/mixin";

body {
  .slider-dot {
    padding: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 38px;
    background-color: darken($l-background, 1%);
    border-radius: 6px;
    cursor: ew-resize;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 3px 3px 6px rgba(60, 71, 91, 0.15), -3px -3px 6px rgba(255, 255, 255, 0.9);

    &__shadow {
      position: absolute;
      top: 0;
      width: 6px;
      height: 100%;
      
      &--left {
        left: 0;
        border-radius: 6px 0 0 6px;
        box-shadow: inset 3px 0 6px  rgba(60, 71, 91, 0.02), inset -3px 0 4px rgba(white, 0.6);
      }

      &--right {
        right: 0;
        border-radius: 0 6px 6px 0;
        @include E-50;
      }
    }

    &__point-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 4px;
      height: 22px;

      &__point {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: rgba($l-text, 0.05);
      }
    }
  }

  .slider-process {
    display: none;
  }

  .vue-slider {
    height: 8px !important;
    padding: 4px 0 !important;

    &-rail {
      background-color: $slider;
      box-shadow: inset 2px 2px 4px rgba(#3c475b, 0.1), inset -2px -2px 4px rgba(#fff, 1);
    }

    &-dot {
      width: 26px !important;
      height: 38px !important;

      &-tooltip {
        visibility: visible;
        color: $l-subtle-text;
        font-size: 12px;
        opacity: 0.8;

        &-top {
          top: -4px;
        }
      }
    }
  }
}