.slider-dot {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 25px;
}

.slider-tooltip {
  color: white;
  background-color: green;
}

.slider-process {
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  background-color: blueviolet;
}
